.cell {
  height: 39px;
  width: 39px;
  background: lightgray;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  font-size: 16px;
}

.cell:focus {
  outline: 2px solid #06c;
  z-index: 1;
}

.cell:hover {
  cursor: pointer;
  background: gray;
}

.cell.revealed {
  background: #e8e8e8;
}

.cell.mine.exploded {
  background: orange;
}

.num1 { 
  color: blue; 

}

.num2 { 
  color: green; 
}

.num3 { 
  color: red; 
}

.num4 { 
  color: darkblue; 
}

.num5 { 
  color: brown; 
}

.num6 { 
  color: lightblue; 
}

.num7 { 
  color: purple; 
}

.num8 { 
  color: pink; 
}