.game-title {
    margin: auto;
}


.wrapper{
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.game-difficulty-select-wrapper{
    padding: 10px;
    margin: auto;
}

.board{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

.board.easy{
    width: 450px;
}

.tile {
    flex: 0 0 33%;
    height: 39px;
    width: 39px;
    background: lightgray;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

