* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.game-title {
    margin: auto;
}

h1{
    margin-bottom: 10px;
}
button{
    border-radius: 5px;
    border: none;
    background: rgb(211,211,211);
    padding: 5px;
    margin: 0;
    box-shadow: 0 0 2px grey;
    outline-color: lightgrey
}
button:hover{
    background: rgb(190,190,190);
    box-shadow: 0 0 4px rgb(100,100,100);
    cursor: pointer;
}

dialog{
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    display: grid;
    justify-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid lightgray;
    background: white;
    width: 250px;
    gap: 12px;
    position: fixed;
    top: 0;
    margin-top: 0;
}

dialog p {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;     
  justify-content: center;
  gap: 10px;                
  margin: 0 0 10px;
}

.modalEntrance{
    transform: translateY(-100vh); /* slide down as appears */
}
.modalVisible{
    transform: translateY(0); 
}
.modalExit{
    transform: translateY(-100vh); /* slide up as dissapears */
}

.gameWonModal{
    color:  #1a7f37;
}
.gameLostModal{
    color: #c01c28;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.game-difficulty-select-wrapper{
    padding: 10px;
    margin: auto;
}

.board{
    display: grid;
    grid-template-columns: repeat(var(--columns), 39px);
    grid-template-rows: repeat(var(--rows), 39px);
    gap: 0;
    width: fit-content;
    margin:auto;
}   

#remainingFlagsCounter{ 
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cell {
    height: 39px;
    width: 39px;
    background: lightgray;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    font-size: 16px;
}

.cell:hover { 
    cursor: pointer;
    background: gray;
}
.cell.revealed {
    background: #E8E8E8;
}

.cell.mine.exploded {
    background: orange;
}



