* {
    font-family: sans-serif;
}

.game-title {
    margin: auto;
}

dialog{
    margin-top: 0px;
}

.wrapper{
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.game-difficulty-select-wrapper{
    padding: 10px;
    margin: auto;
}

.board{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

#minesLeftIndicator{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tile {
    flex: 0 0 33%;
    height: 39px;
    width: 39px;
    background: lightgray;
    border: 1px solid whitesmoke;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border-radius: 3px;
}

.tile.opened {
    background: #E8E8E8;
}

.tile:not(.opened):hover {
    cursor: pointer;
    background: gray;
}

