* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.game-title {
    margin: auto;
}

h1{
    margin-bottom: 10px;
}
button{
    border-radius: 15px;
    border: none;
    background: rgb(211,211,211);
    padding: 5px;
    margin: 0;
    box-shadow: 0 0 5px grey;
    outline-color: lightgrey
}
button:hover{
    background: rgb(190,190,190);
    box-shadow: 0 0 10px rgb(100,100,100);
    cursor: pointer;
}

dialog{
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    display: grid;
    justify-items: center;
    border: none;
    box-shadow: 0 3px 20px black, inset 0 0 3px 1.5px grey;
}
.modalEntrance{
    margin-top: 100vh; /* Starts below bottom of screen */
}
.modalVisible{
    margin-top: 0px; /* moves to top */
}
.modalExit{
    margin-top: -100%; /* moves above top */
}

/* change these to something nicer */
.gameWonModal{
    color:green 
}
.gameLostModal{
    color:red
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.game-difficulty-select-wrapper{
    padding: 10px;
    margin: auto;
}

.board{
    display: grid;
    grid-template-columns: repeat(var(--columns), 39px);
    grid-template-rows: repeat(var(--rows), 39px);
    gap: 0;
    width: fit-content;
    margin:auto;
}   

#remainingFlagsCounter{ 
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cell {
    height: 39px;
    width: 39px;
    background: lightgray;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
}

/* FYI: ".cell:not(.revealed):hover" is not required.
classes (.revealed) and psuedo classes (:hover) have equal specificity.
so by using just .cell:hover and putting it before .cell.revealed, the result is the same.
.revealed overrides :hover, nullifying the :hover if the cell is revealed */
.cell:hover { 
    cursor: pointer;
    background: gray;
}
.cell.revealed {
    background: #E8E8E8;
}

.cell.mine.exploded {
    background: orange;
}



